@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<img srcset="~/photo/image-320.jpg 320w, ~/photo/image-640.jpg 640w, ~/photo/image.jpg 1096w"
     sizes="(max-width: 320px) 320px, (max-width: 640px) 640px
         1096px"
     src="~/photo/image.jpg"
     alt="Spongebob" />