@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-4">
        The Extra small – Extra Large refers to your screen width, the class prefix is the Bootstrap defined CSS class
        that is used to style your element, the CSS class will use corresponding class when the screen width changes
        (Details are in example 2).
        The max container width refers to the maximum width of the container under the current screen resolution (For
        example, if the screen resolution is 767px, the maximum width of the container can get is 720px), it will leave
        the rest of the area as white spaces.
    </div>
    <div class="col-md-5">
        Since the Grid system have 12 columns, specifying the numbers behind it will tell Bootstrap how many columns
        you want to give to the content. In the example 1, the content 1 will be always occupying = 8 / 12 = 66.6% of the
        container, content 2 will always occupying = 4 / 12 = 33.33% of the container
    </div>
    <div class="col-md-3">
        When the screen size is bigger than 768px, Content 1 will occupy = 8 / 12 =
        66.66% of the max container width (720px)
    </div>
</div>
