.preview {
    background-color: yellow;
}

.preview2 {
    background-color: green;
}

.previewsecondLevel {
    color: blue;
    font-family: "Sofia", sans-serif;
}

.preview2secondLevel {
    color: black
}

p {
    color: white;
}
