<style>
    .preview {
        background-color: yellow;
    }

    .preview2 {
        background-color: green;
    }

    .previewsecondLevel{
        color: blue
    }
    .preview2secondLevel {
        color: black
    }
    p {
        color: white;
    }
</style>
