@{
    ViewBag.Title = "Our Team";
}

<body>
    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-12 col-md-4">
            <img src="~/Images/markChan.jpg" width="305" height="319" /><br>
            <b>
                Dr Mark Chan<br>
                DDS (University of Melbourne)
            </b><br><br>
            Dr Mark Chan is renowned among our patients for being patient and friendly. He provides patients with different options for treatment, together with comprehensive and professional opinion. He is committed to learning new dental techniques and has a passion for cosmetic denistry.
        </div>
        <div class="col-12 col-md-4">
            <img src="~/Images/darbbyYoung.jpg" width="305" height="319" /><br>
            <b>
                Dr Darby Young<br>
                DDS (University of Melbourne)
            </b><br><br>
            Dr Darby Young is our principle dentist at HQ Dental Group. After graduating from the University of Melbourne, she went to the United Kingdom and pursued further speciality training in prosthodontics. She is very caring and ensures her patients are pleased with the treament.
        </div>
        <div class="col-12 col-md-4">
            <img src="~/Images/jackySung.jpg" width="305" height="319" /><br>
            <b>
                Dr Jacky Sung<br>
                DDS (University of Melbourne)
            </b><br><br>
            Dr Jacky Sung graduated from University of Melbourne with the highest aggregate score in 2015. She enjoys many aspects of denistry and takes a special interest in endodontics. She is comfortable working with patients who have dental anxiety. She decicates her career to providing confident smiles to patients.
        </div>

        <div class="homepage-button"><a href="https://localhost:44346/Ratings" class="btn btn-primary btn-lg">Rate our team &raquo;</a></div>
    </div>
</body>
