@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/indexStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="home-make-a-booking col-12">
        <div class="make-booking-text">
            <div class="text-mid">Welcome to</div>
            <div class="text-large">HQ Dental Group</div>
            <div class="text-small">Melbourne's Best Dentists</div><br />
            <div class="homepage-button"><a href="https://localhost:44346/Bookings/Create" class="btn btn-primary btn-lg">Make a booking &raquo;</a></div>
        </div>
    </div>

    <div class="middle-row col-12">
        <div class="view-bookings col-md-6">
            <div class="view-bookings-text">
                <div class="text-mid">View your bookings 
                    <a href="https://localhost:44346/Bookings/Index" class="rounded-button">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </a>
                </div>
                <div class="text-xs">Manage bookings</div>
            </div>
        </div>
        <div class="our-team col-md-6">
            <div class="our-team-text">
                <div class="text-mid">Our dentist team
                    <a href="https://localhost:44346/Home/About" class="rounded-button">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </a>
                </div>
                <div class="text-xs">View our profiles</div>
            </div>
        </div>
    </div>

    <div class="locations col-12">
        <div class="locations-text">
            <div class="text-mid">Locations
                <a href="https://asp.net" class="rounded-button">
                    <ion-icon name="chevron-forward"></ion-icon>
                </a>
            </div>
            <div class="text-xs">Find your nearest clinic</div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>